In [1]:
import pandas as pd
import numpy as np

# Load the datasets downloaded from Kaggle

In [2]:
df_train = pd.read_csv('../data/raw/2022_train.csv')
df_test = pd.read_csv('../data/raw/2022_train.csv')

In [3]:
df_train.head()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,3799,80,24.3,7.8,3.0,6.4,45.7,0.1,0.3,22.6,...,2.9,72.1,2.2,2.0,3.8,3.2,1.1,0.2,1.6,1
1,3800,75,21.8,10.5,4.2,7.9,55.1,-0.3,-1.0,34.9,...,3.6,67.8,3.6,3.7,6.6,0.7,0.5,0.6,1.4,1
2,3801,85,19.1,4.5,1.9,4.5,42.8,0.4,1.2,34.3,...,0.6,75.7,0.6,1.8,2.4,0.8,0.4,0.2,0.6,1
3,3802,63,19.1,8.2,3.5,6.7,52.5,0.3,0.8,23.7,...,1.5,66.9,0.8,2.0,3.0,1.8,0.4,0.1,1.9,1
4,3803,63,17.8,3.7,1.7,3.4,50.8,0.5,1.4,13.7,...,0.5,54.0,2.4,2.7,4.9,0.4,0.4,0.6,0.7,1

In [4]:
df_test.head()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,3799,80,24.3,7.8,3.0,6.4,45.7,0.1,0.3,22.6,...,2.9,72.1,2.2,2.0,3.8,3.2,1.1,0.2,1.6,1
1,3800,75,21.8,10.5,4.2,7.9,55.1,-0.3,-1.0,34.9,...,3.6,67.8,3.6,3.7,6.6,0.7,0.5,0.6,1.4,1
2,3801,85,19.1,4.5,1.9,4.5,42.8,0.4,1.2,34.3,...,0.6,75.7,0.6,1.8,2.4,0.8,0.4,0.2,0.6,1
3,3802,63,19.1,8.2,3.5,6.7,52.5,0.3,0.8,23.7,...,1.5,66.9,0.8,2.0,3.0,1.8,0.4,0.1,1.9,1
4,3803,63,17.8,3.7,1.7,3.4,50.8,0.5,1.4,13.7,...,0.5,54.0,2.4,2.7,4.9,0.4,0.4,0.6,0.7,1

# 1. Structure investigation

*The raw train and test datasets have 8000 rows and 21 columns each.  They both have all columns numerical type.*

In [5]:
df_train.shape

(8000, 21)

In [6]:
df_test.shape

(8000, 21)

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           8000 non-null   int64
 1   GP           8000 non-null   int64
 2   MIN          8000 non-null   float64
 3   PTS          8000 non-null   float64
 4   FGM          8000 non-null   float64
 5   FGA          8000 non-null   float64
 6   FG%          8000 non-null   float64
 7   3P Made      8000 non-null   float64
 8   3PA          8000 non-null   float64
 9   3P%          8000 non-null   float64
 10  FTM          8000 non-null   float64
 11  FTA          8000 non-null   float64
 12  FT%          8000 non-null   float64
 13  OREB         8000 non-null   float64
 14  DREB         8000 non-null   float64
 15  REB          8000 non-null   float64
 16  AST          8000 non-null   float64
 17  STL          8000 non-null   float64
 18  BLK          8000 non-null   float64
 19  TOV          8000 non-null   float64
 20  TARGET_5Yrs  8000 non-null   int64
dtypes: float64(18), int64(3)
memory usage: 1.3 MB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           8000 non-null   int64
 1   GP           8000 non-null   int64
 2   MIN          8000 non-null   float64
 3   PTS          8000 non-null   float64
 4   FGM          8000 non-null   float64
 5   FGA          8000 non-null   float64
 6   FG%          8000 non-null   float64
 7   3P Made      8000 non-null   float64
 8   3PA          8000 non-null   float64
 9   3P%          8000 non-null   float64
 10  FTM          8000 non-null   float64
 11  FTA          8000 non-null   float64
 12  FT%          8000 non-null   float64
 13  OREB         8000 non-null   float64
 14  DREB         8000 non-null   float64
 15  REB          8000 non-null   float64
 16  AST          8000 non-null   float64
 17  STL          8000 non-null   float64
 18  BLK          8000 non-null   float64
 19  TOV          8000 non-null   float64
 20  TARGET_5Yrs  8000 non-null   int64
dtypes: float64(18), int64(3)
memory usage: 1.3 MB

# 2. Prepare data for exploration

*Create a copy of the data to preserve the original data.  Concatenate the raw train and test data to allow initial data exploration on the total data.  This will also allow splitting the total data into three sets (train, validation and test data)*

In [10]:
df_train_copy = df_train.set_index('Id')
df_test_copy = df_test.set_index('Id')

In [12]:
sample_frame = [df_train_copy, df_test_copy]
df_all = pd.concat(sample_frame)

In [13]:
print(df_all)

       GP   MIN   PTS  FGM  FGA   FG%  3P Made  3PA   3P%  FTM  FTA   FT%  \
Id
3799   80  24.3   7.8  3.0  6.4  45.7      0.1  0.3  22.6  2.0  2.9  72.1
3800   75  21.8  10.5  4.2  7.9  55.1     -0.3 -1.0  34.9  2.4  3.6  67.8
3801   85  19.1   4.5  1.9  4.5  42.8      0.4  1.2  34.3  0.4  0.6  75.7
3802   63  19.1   8.2  3.5  6.7  52.5      0.3  0.8  23.7  0.9  1.5  66.9
3803   63  17.8   3.7  1.7  3.4  50.8      0.5  1.4  13.7  0.2  0.5  54.0
...    ..   ...   ...  ...  ...   ...      ...  ...   ...  ...  ...   ...
11794  32   9.2   1.8  0.7  1.8  40.3     -0.1 -0.2  23.1  0.4  0.6  65.7
11795  54   6.0   1.8  0.7  1.4  48.7      0.1  0.1   3.1  0.2  0.4  70.1
11796  85  28.2  10.7  4.0  9.0  45.1      0.2  0.6  23.6  2.8  3.9  69.7
11797  39   7.7   2.5  1.0  2.3  40.1     -0.3 -0.5  13.3  0.6  0.7  74.3
11798  49  19.2   4.8  1.7  5.1  32.6      0.7  2.4  41.3  0.8  1.3  70.1

       OREB  DREB  REB  AST  STL  BLK  TOV  TARGET_5Yrs
Id
3799    2.2   2.0  3.8  3.2  1.1  0.2  1.6            1
3800    3.6   3.7  6.6  0.7  0.5  0.6  1.4            1
3801    0.6   1.8  2.4  0.8  0.4  0.2  0.6            1
3802    0.8   2.0  3.0  1.8  0.4  0.1  1.9            1
3803    2.4   2.7  4.9  0.4  0.4  0.6  0.7            1
...     ...   ...  ...  ...  ...  ...  ...          ...
11794   0.3   1.8  1.9  0.5  0.3  0.2  0.4            1
11795   1.0   1.1  2.0  0.1  0.0  0.3  0.3            1
11796   1.0   2.1  3.1  3.4  1.2  0.2  1.8            1
11797   0.4   0.6  0.9  0.2  0.3  0.3  0.5            1
11798   0.1   1.1  1.2  3.5  0.9 -0.3  1.4            1

[16000 rows x 20 columns]

In [14]:
df_all.describe()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,16000.000000,16000.000000,16000.000000,16000.000000,16000.000000,16000.00000,16000.000000,16000.000000,16000.000000,16000.000000,16000.000000,16000.000000,16000.000000,16000.00000,16000.000000,16000.000000,16000.000000,16000.000000,16000.000000,16000.000000
mean,62.777875,18.576662,7.267087,2.807038,6.231212,44.60890,0.264525,0.816562,19.583700,1.392525,1.947788,71.365825,1.077838,2.16850,3.245300,1.624512,0.648687,0.245212,1.257763,0.833625
std,17.118239,8.934984,4.318597,1.693320,3.584447,6.15526,0.384081,1.060931,16.002655,0.926124,1.252313,10.430121,0.785645,1.39218,2.085089,1.355944,0.407613,0.821011,0.723248,0.372429
min,-8.000000,2.900000,0.800000,0.300000,0.800000,21.30000,-1.100000,-3.100000,-38.500000,0.000000,0.000000,-13.300000,0.000000,0.20000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,51.000000,12.000000,4.100000,1.600000,3.600000,40.40000,0.000000,0.100000,8.400000,0.700000,1.000000,65.000000,0.500000,1.10000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,63.000000,16.800000,6.300000,2.400000,5.400000,44.40000,0.300000,0.800000,19.500000,1.200000,1.700000,71.400000,0.900000,1.90000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,74.000000,23.500000,9.500000,3.700000,8.100000,48.70000,0.500000,1.500000,30.600000,1.900000,2.600000,77.500000,1.500000,2.90000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,123.000000,73.800000,34.200000,13.100000,28.900000,67.20000,1.700000,4.700000,82.100000,8.100000,11.100000,168.900000,5.500000,11.00000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

In [15]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16000 entries, 3799 to 11798
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GP           16000 non-null  int64
 1   MIN          16000 non-null  float64
 2   PTS          16000 non-null  float64
 3   FGM          16000 non-null  float64
 4   FGA          16000 non-null  float64
 5   FG%          16000 non-null  float64
 6   3P Made      16000 non-null  float64
 7   3PA          16000 non-null  float64
 8   3P%          16000 non-null  float64
 9   FTM          16000 non-null  float64
 10  FTA          16000 non-null  float64
 11  FT%          16000 non-null  float64
 12  OREB         16000 non-null  float64
 13  DREB         16000 non-null  float64
 14  REB          16000 non-null  float64
 15  AST          16000 non-null  float64
 16  STL          16000 non-null  float64
 17  BLK          16000 non-null  float64
 18  TOV          16000 non-null  float64
 19  TARGET_5Yrs  16000 non-null  int64
dtypes: float64(18), int64(2)
memory usage: 2.6 MB